<div class="form-group {{if isRequired 'required'}}">
  <label class="form-label" {{bind-attr for=label}}>{{label}}</label>
  {{#if (eq type 'select')}}
    <select onchange={{action (mut value) value='target.value'}}>
      {{#each selectData as |option|}}
        <option value={{option}} selected={{eq value option}}>{{option}}</option>
      {{/each}}
    </select>
  {{else}}
    {{input type=type value=value required=isRequired id=fieldId class='form-control'}}
  {{/if}}
</div>
