{{#bread-crumbs model=model}}{{/bread-crumbs}}

<div class="box">
  <h1>Resultaten</h1>
  {{#if model.system}}
    {{#if model.customer.name}}
      <h3>Klant: <span class="no-text-transform">{{model.customer.name}}</span></h3>
    {{else}}
      <h3>Klant: <span class="no-text-transform">{{model.customer.email}}</span></h3>
    {{/if}}
    <h3>Model ID: {{model.system.id}}</h3>
  {{/if}}
  <a href={{emailLink}}><button class="emailBtn btn btn-primary">Email</button></a>
</div>

<div class="box box-grey">
  {{#if model.system}}
    <div class="box-result-left">
      {{result-block header="Situatie" data=situationData}}
      {{result-block header="Energiekosten" data=energyData}}
      {{result-block header="PV-panelen" data=solarData}}
      {{result-block header="Opbrengstspecificatie" data=revenueData}}
      {{result-block header="Investering" data=investmentData}}
      {{result-block header="Jaarlijkse besparing" data=savingsData}}
    </div>
    <div class="box-result-right">
      {{result-block header="SDE+ subsidie" data=sdeData}}
      {{result-block header="Fiscale aftrekposten"}}
      {{result-block header="Energie Investerings Aftrek (EIA)" data=eiaData}}
      {{result-block header="Kleinschalige Investerings Aftrek (KIA)" data=kiaData}}
      {{result-block header="Variabele afschrijving milieuinvestering (10 jaar)" data=depreciationData}}
      {{result-block header="Totaal aftrekposten" data=taxDeductionData}}
    </div>
  {{else}}
    <h3>Model niet gevonden</h3>
    <button {{action "returnToPrevious"}} class="btn btn-primary">Terug</button>
  {{/if}}
</div>

