
<div class="container">
<h2>Klantgegevens</h2>

  {{#object-form action="updateCustomer" buttonLabel="Volgende"}}

    {{form-field label="Naam" value=name}}
    {{form-field label="Adres" value=address}}
    {{form-field label="Postcode" value=zipcode}}
    {{form-field label="Woonplaats" value=city}}
    {{form-field label="E-mail" value=email}}
    {{form-field label="Telefoon" value=phone}}

  {{/object-form}}

</div>
